 <section>
        <p class="desc">
            This website is an easy to use code storage that allows the user (YOU!) to store consistently used code or
            just something you would like to remember!
            The functionality of this website is explained in three simple steps
        </p>
    </section>
    <section class="aboutList">
        <li class="list1">
            First, copy the code you would like to save to StoYoCodes.
        </li>
        <li class="list2">
            Second, paste the code into the "Enter code here" section.
        </li>
        <li class="list3">
            Finally, sto yo code by pressing the "Save" button and choose where you would like to save it!
        </li>
    </section>