<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/newSnip.css">
</head>

<body>
    <header class="title">
        StoYoCodes
    </header>
    <navbar>
        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </navbar>
    <h1>
        Enter Code Here
    </h1>

    <section>
        <textarea class="newCode" rows="4" columns="50">

        </textarea>



    </section>

    <div class="col-3 searchCol">
        <h4>Stored code</h4>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="codeInput" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <div class="input-group-append"></div>
            <button class="saveButton" id="saveBtn"> Save </button>
            <div class="list-group" id="codeList">
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="../public/script.js"></script>
</body>

</html>