.title{
    font-size:100px;
    font-weight: bold;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 32, 0);
  }

  /* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #001f13;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 5px;
  }
  
  /* Change styles for span and cancel button on small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #000000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Changing font for whole page */
body {
    font-family: "Lucida Console", "Courier New", monospace;
}


.newCode {
    float: right;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    color: limegreen;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    resize: none;
  }




/* This is CSS for the main page you see when you are loggedin! */
#snipHead {
    text-align: left;
}
#codeEnderHead {
    text-align: right;
}



.folders{
width: 250px;
height: 50px;
}

.saveButton {

    border: none;
    cursor: pointer;
    opacity: 0.9;
    background-color: #000000;
    color: white;
    display: block;
    font-size: large;
    font-family: "Lucida Console", "Courier New", monospace;
}

#saveBtn{
 float: right;
  width: 70px;
  height: 50px;
text-align: center;

}

#deleteBtn {
 float: right;
  width: 100px;
  height: 50px;
  margin-right: 4px;

}

#updateBtn {
 float: right;
  width: 100px;
  height: 50px;
}


.saveButton:hover {
    background-color:gray
}

/* These three divs use flexbox to align the display into two columns, one for the text area, one for */
#div1 {
height: 100vh;
display: flex;
}


#div2 {
width: 100%;
height: 100%;
}

#div3 {
width: 100%;
height: 100%;
}

.desc {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.aboutList {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.aboutlist li {
  margin-top:20px;
  text-align: left;
}
.list1 {
  margin-top: 40px;
  text-align: left;
  font-size: 20px;
}
.list2 {
  text-align: left;
  margin-top: 40px;
  font-size: 20px;
}
.list3 {
  text-align: left;
  margin-top: 40px;
  font-size: 20px;
}

#logout1 {
 float: right;
color: black;
font-weight: bold;
background-color: white;
width: 100px;
height: 50px;
border: black;
 border: 1px solid #000000;
}

#logout2 {
 float: right;
color: black;
background-color: white;
width: 100px;
height: 50px;
 border: 1px solid #000000;
font-weight: bold;
}

.copyIcons {
 
margin: 5px;
position: relative;
Top: 5px;
} 